In [2]:
import pandas as pd

In [12]:
sales_data=pd.read_csv("../../Datasets/sales.csv/sales.csv")
sales_data.describe()

,id,category_id,sales,views,price_cost,price_retail
count,2.548824e+06,2.548824e+06,2.548824e+06,2.548824e+06,2.548824e+06,2.548824e+06
mean,1.741500e+03,1.590752e+00,3.706074e-01,3.825130e+01,1.219318e+04,1.768616e+04
std,1.005167e+03,6.505913e-01,5.039799e+00,1.824299e+02,1.858160e+04,2.641387e+04
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.710000e+02,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.741500e+03,2.000000e+00,0.000000e+00,8.000000e+00,3.546000e+03,7.582000e+03
75%,2.612000e+03,2.000000e+00,0.000000e+00,3.300000e+01,1.814800e+04,2.580000e+04
max,3.482000e+03,4.000000e+00,1.372000e+03,4.314800e+04,2.925730e+05,7.590770e+05