In [3]:
import pandas as pd

In [21]:
sales_data=pd.read_csv("../../Datasets/sales.csv/sales.csv")
sales_data.describe()
sales_data.head(1000)

           date  id  category_id  sales  views  price_cost  price_retail
0    2022-02-24   1            3      0      0           0             0
1    2022-02-25   1            3      0      0           0             0
2    2022-02-26   1            3      0      0           0             0
3    2022-02-27   1            3      0      0           0             0
4    2022-02-28   1            3      0      0           0             0
..          ...  ..          ...    ...    ...         ...           ...
995  2022-11-14   2            2      0    143          60            78
996  2022-11-15   2            2      0    249          60            78
997  2022-11-16   2            2      0    337          60            78
998  2022-11-17   2            2      0    446          60            78
999  2022-11-18   2            2     50    394          60            78

[1000 rows x 7 columns]

<div>
The Data provided is related to Bike prices on a particular date
    <ul>
        <li>id: Id of the bike</li>
        <li>category_id: Category of the bike</li>
        <li>sales: How many sold on the particular day</li>
        <li>views: How many bikes are viewed that day</li>
    </ul>
</div>

In [19]:
filtered_data=sales_data[sales_data['price_cost']!=0]
filtered_data.head()
filtered_data.id.value_counts()

id
796     732
898     732
905     732
904     732
903     732
       ...
1520      7
1316      6
2798      6
288       5
3000      5
Name: count, Length: 3463, dtype: int64

In [12]:
filtered_data_by_category=filtered_data.groupby('category_id')
print(filtered_data_by_category['price_cost'].max())

category_id
1    158951
2     39900
3      4489
4    292573
Name: price_cost, dtype: int64

In [18]:
filtered_data.sort_values(by='price_cost',ascending=False).head()
filtered_unique_data=filtered_data.drop_duplicates()