In [1]:
import pandas as pd

In [7]:
sales_data=pd.read_csv("../../Datasets/sales.csv/sales.csv")
sales_data.describe()
sales_data.head()

         date  id  category_id  sales  views  price_cost  price_retail
0  2022-02-24   1            3      0      0           0             0
1  2022-02-25   1            3      0      0           0             0
2  2022-02-26   1            3      0      0           0             0
3  2022-02-27   1            3      0      0           0             0
4  2022-02-28   1            3      0      0           0             0

In [8]:
filtered_data=sales_data[sales_data['price_cost']!=0]
filtered_data.head()

           date  id  category_id  sales  views  price_cost  price_retail
403  2023-04-03   1            3      0     29        1450          1885
404  2023-04-04   1            3      0     45        1450          1885
405  2023-04-05   1            3      0     28        1450          1885
406  2023-04-06   1            3      0     42        1450          1885
407  2023-04-07   1            3      0     39        1450          1885